<table class="table tablesorter" id="postTable">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Last replied at</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
      <tr>
      <% if check_privacty?(post) %>
        <td data-link="<%= post_path(post) %>"><%=post.title%></td>
        <td data-link="<%= post_path(post) %>">
          <% if post.is_draft? %>
            <span>Draft</span>
          <%else%>
            <span>Published</span>
          <%end%>
          <td data-link="<%= post_path(post) %>"><%=post.updated_at.strftime("%F")%></td>
          <td>
            <% if current_user == post.user %>
              <%= link_to edit_post_path(post) do %>
              <i class="fas fa-edit fa-2x"></i>
            <% end %>
            <%= link_to post_path(post), method: :delete do%>
            <i class="fas fa-times-circle fa-2x"></i>
          <%end%>
        <%end%>
      </td>
      <%end%>
    </tr>
  <% end %>
  </tbody>
</table>
<script>
$(function () {
  $("#postTable").tablesorter();
});

$("td[data-link]").click(function () {
  window.location = $(this).data("link")
});
</script>
