<div class="container">
  <h1>Profile</h1>
  <div class="user-info">
    <div class="row">
      <div class="col-6 col-md-3">
        <div class="text-center">
          <%= image_tag @user.avatar,width:'200px' if @user.avatar?%>
        </div>
        <h6 class="text-center"><%=@user.name%></h6>
      </div>
      <div class="col-12 col-md-9">
        <div class="user-content">
          <div class="intro"><%=@user.intro%></div>
          <div class="text-right">
            <%= link_to 'Edit' ,edit_user_path(@user) , class: "btn btn-secondary" if current_user==@user%>
            <%= render partial: "shared/friends", locals: {user:@user} if current_user!=@user %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-detail">
    <div class="container">
      <ul id="user-items" class="nav nav-tabs">
        <li class="nav-item">
          <a data-toggle="tab" class="nav-link" href="#my-posts" onclick="showUserPosts(event)">My Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#my-comments" onclick="showUserComments(event)">My Comment</a>
        </li>
        <%if current_user == @user %>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#my-drafts" onclick="showUserDrafts(event)">My Draft</a>
          </li>
        <%end %>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#my-collects" onclick="showUserCollects(event)">My Collect</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#my-friends" onclick="showUserfriends(event)">My Friend</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="my-posts" class="tab-pane fade"></div>
        <div id="my-comments" class="tab-pane fade"></div>
        <%if current_user == @user %>
          <div id="my-drafts" class="tab-pane fade"></div>
        <%end %>
        <div id="my-collects" class="tab-pane fade"></div>
        <div id="my-friends" class="tab-pane fade"></div>
      </div>
    </div>

  </div>

</div>
<script>
  $(document).ready(function () {
    var strUrl = location.search;
    if (strUrl.indexOf("?") != -1) {
      $('#my-drafts').toggleClass('active');
      $('#user-items li:nth-child(3) a').click();
    }else{
      $('#my-posts').toggleClass('active');
      $('#user-items li a:first').click();
    }
  });

  function showUserPosts(event) {
    var user_id = <%=@user.id%>;
    $.ajax({
      url: "/users/" + user_id + "/posts",
      method: "GET",
      dataType: "HTML",
      error: function (xhr) {
        //alert('請再點選一次');
      },
      success: function (data) {
        $('#my-posts').html(data);
      }
    });
  }
  //drafts
  function showUserDrafts(event) {
    var user_id = <%=@user.id%>;

    $.ajax({
      url: "/users/" + user_id + "/drafts",
      method: "GET",
      dataType: "HTML",
      error: function (xhr) {
        //alert('請再點選一次');
      },
      success: function (data) {
        $('#my-drafts').html(data);
      }
    });
  }
  //comments
  function showUserComments(event) {
    var user_id = <%=@user.id%>;

    $.ajax({
      url: "/users/" + user_id + "/replies",
      method: "GET",
      dataType: "HTML",
      error: function (xhr) {
        //alert('請再點選一次');
      },
      success: function (data) {
        console.log("ok")
        $('#my-comments').html(data);
      }
    });
  }
  //Collects
  function showUserCollects(event) {
    var user_id = <%=@user.id%>;

    $.ajax({
      url: "/users/" + user_id + "/collects",
      method: "GET",
      dataType: "HTML",
      error: function (xhr) {
        //alert('請再點選一次');
      },
      success: function (data) {
        //console.log("ok")
        $('#my-collects').html(data);
      }
    });
  }
  //friend_list
  function showUserfriends(event) {
    var user_id = <%=@user.id%>;

    $.ajax({
      url: "/users/" + user_id + "/friend_list",
      method: "GET",
      dataType: "HTML",
      error: function (xhr) {
        //alert('請再點選一次');
      },
      success: function (data) {
        console.log("ok")
        $('#my-friends').html(data);
      }
    });
  }
</script>
