<div class="container">
  <div class="form-group">
    <table class="table tablesorter" id="postTable">
      <thead>
        <tr>
          <th scope="col">Replies count</th>
          <th scope="col">Title</th>
          <th scope="col">Last replied at
          </th>
          <th scope="col">Viewed count
          </th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
        <% if check_privacty?(post) %>
        <% @pagePosts = Array.new %>
        <% @pagePosts.push(post) %>
            <tr data-link="<%= post_path(post) %>">
            <td><%=post.replies_count%></td>
            <td><%=post.title%></td>
            <td><%=post.updated_at.strftime("%F")%></td>
            <td><%=post.view_count%></td>
          </tr>
          <%end%>
        <% end %>
      </tbody>
    </table>
  </div>
  <% @pagePosts = @posts.page(params[:page]).per(20)%>
  <div class="container pagination justify-content-center">
    <%= paginate @pagePosts,theme: 'twitter-bootstrap-4'%>
  </div>
</div>
<script>
  $(function () {
    $("#postTable").tablesorter();
  });

  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  });
</script>
