<div class="container">
  <div class="form-group">
    <table class="table tablesorter text-center" id="postTable">
      <thead>
        <tr>
          <th scope="col">Replies count</th>
          <th scope="col">Title</th>
          <th scope="col">Last replied at
          </th>
          <th scope="col">Viewed count
          </th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
            <tr data-link="<%= post_path(post) %>">
            <td>
              <%#= text_field_tag 'replies_count', post.replies_count, class: 'text-center', :size => 5%>
<div class="replies"><%= post.replies_count%></div>

            </td>
            <td><%=post.title%></td>
            <td><%=post.updated_at.strftime("%F")%></td>
            <td><i class="icon fas fa-eye"></i><%=post.view_count%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="pager" class="container pagination justify-content-center">
    <%= paginate @posts,theme: 'twitter-bootstrap-4'%>
  </div>
</div>
<script>
var $pager = $('#pager');
  $(function () {
    $("#postTable").tablesorter().tablesorterPager({
      // target the pager markup - see the HTML block below
      container: $pager,
      size: 20,
      output: 'showing: {startRow} to {endRow} ({filteredRows})'
    });
  });

  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  });
</script>
