<% if @post.errors.any? %>
  <h2>We have some erroes here !</h2>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <h1>Post</h1>
  <%= form_for @post do |f| %>
  <div class="form-group">
    <form>
      <table class="table table-borderless">
        <tr class="form-group">
          <td colspan="2">
            <%= f.text_field :title , class:"form-control"%>
          </td>
        </tr>
        <tr class="form-group">
          <td colspan="2">
            <%= f.text_area :article ,class:"form-control"%>
          </td>
        </tr>
        <tr class="form-group">
          <td colspan="2">
            <%= image_tag @post.photo ,width:'400px' if @post.photo?%><br>
            <%= f.file_field :photo %>
          </td>
        </tr>
        <tr >
          <td >Who Can See</td>
          <td>
            <% @privacy.each do |privacy| %>
              <%= f.label privacy.id do %>
              <% if @post.privacy.blank?%>
                <%= f.radio_button :privacy_id, privacy.id, :checked => privacy.name == @privacy.first.name %>
              <%else %>
                <%= f.radio_button :privacy_id, privacy.id %>
              <%end%>
              <%= privacy.name %>
            <% end %>
          <%end%>
        </td>
      </tr>
      <tr class="form-group">
        <td >Category</td >
        <td>
          <%= f.collection_check_boxes :categories, Category.all, :id, :name do |b| %>
          <% if get_category?(b.value,@post) %>
            <%= b.check_box :checked => true %>
          <%else%>
            <%= b.check_box%>
          <%end%>
          <%= b.label %>
        <% end %>
      </td>
    </tr>
    <tr class="form-group">
      <td >Status</td >
      <td>
        <%= f.submit class:"btn btn-secondary"%>
      </td>
    </tr>
  </table>
</form>
</div>
<% end %>
</div>
