<div class="container">
  <h1>Post</h1>
  <div class="form-group">
    <%= form_for @post do |f| %>
    <form>
      <table class="table table-borderless">
        <tr class="form-group">
          <td colspan="2">
            <%= f.text_field :title , class:"form-control"%>
          </td>
        </tr>
        <tr class="form-group">
          <td colspan="2">
            <%= f.text_area :article ,class:"form-control"%>
          </td>
        </tr>
        <tr class="form-group">
          <td colspan="2">
            <%= image_tag @post.photo if @post.photo?%>
            <%= f.file_field :avatar %>
          </td>
        </tr>
        <tr >
          <td >
            Who Can See
          </td>
          <td>
            <% @privacy.each do |privacy| %>
              <%= radio_button_tag "privacy",privacy.id, false,:checked => (privacy.name == @privacy.first.name)%>
              <%= label_tag(privacy.name, privacy.name) %>
            <%end%>
          </td>
        </tr>
        <tr class="form-group">
          <td >
            Category
          </td >
          <td>
            <% @categories.each do |category| %>
              <%= check_box_tag category.name, category.id%>
              <%= label_tag(category.name, category.name) %>
            <%end%>
          </td>
        </tr>
        <tr class="form-group">
          <td >
            Status
          </d >
          <td>
            <%= button_to "Save Draft" ,posts_path, class:"btn button"%>
            <%= f.submit class:"btn button "%>
          </td>
        </tr>
      </table>
    </form>
  <% end %>
</div>
</div>
