<div class="container">
  <div class="title">
    <h1><%=@post.title%></h1>
    <div class="button-link text-right">
      <%= render partial: "shared/collect", locals: {post: @post} %>
      <button type="button" class="btn btn-secondary" onclick='$("html, body").animate({ scrollTop: 99999 }, 600);'>Comment</button>
    </div>
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td style="width:20%" class="text-center">
          <div class="user-pic">
            <%= link_to user_path(@post.user) do %>
             <%= image_tag @post.user.avatar, class:"img-responsive img-profile",width:'150px'%>
             <h5 class="removestyle"><%= @post.user.name%></h5>
           <% end %>
           </div>
          <div>
            <%= link_to 'Edit' ,edit_user_path(@post.user) , class: "btn btn-secondary" if current_user==@post.user%>
            <%= render partial: "shared/friends", locals: {user:@post.user} if current_user!=@post.user %>
          </div>
        </td>
        <td style="width:80%">
          <div class="user-info">
          <div class="post-pic">
            <%= image_tag @post.photo, class:"img-responsive img-profile",width:'400px' %>
          </div>
          <div class="post-content"><%=@post.article%></div>
          <% if current_user == @post.user || current_user.admin?%>
          <div class="post-button text-right">
            <%if current_user == @post.user %>
            <%= link_to edit_post_path(@post) do %>
            <i class="fas fa-edit fa-2x"></i>
          <% end %>
            <% end %>
          <%= link_to post_path(@post), method: :delete do%>
          <i class="fas fa-times-circle fa-2x"></i>
        <%end%>
          </div>
          <%end%>
        </div>
      </td>
    </tr>
    <!--reply -->
    <% @replies.each do |reply|%>
      <tr>
        <td style="width:20%" class="text-center">
          <div class="user-info">
            <div class="reply-pic">
              <%= link_to user_path(reply.user) do %>
                <%= image_tag reply.user.avatar, class:"img-responsive img-profile",width:'150px' %>
               <h5 class="removestyle"><%= reply.user.name %></h5>
             <% end %>
            </div>
            <div>
            <%= render partial: "shared/friends", locals: {user:reply.user} if current_user!=reply.user %>
            </div>
          </div>
        </td>
        <td style="width:80%">
          <div class="reply-content"><%=reply.content%></div>
          <% if current_user == reply.user %>
          <div id="<%=reply.id%>" class="icon-view text-right">
            <%#= link_to edit_post_path(@post), remote: true,:onclick => 'editReplay()' do %>
              <i class="fas fa-edit fa-2x" onclick="editReplay(event)"></i>
              <%# end %>
                <%= link_to post_reply_path(@post,reply), method: :delete do%>
                <i class="fas fa-times-circle fa-2x"></i>
              <%end%>
            </div>
            <%end%>
          </td>
        </tr>
      <% end %>
      <!--reply end -->
      <tr>
        <td colspan="2">
          <div id="reply-content">
            <%= render partial: "replies/form", locals:{post:@post,reply:@reply} %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container pagination justify-content-center">
    <%= paginate @replies,theme: 'twitter-bootstrap-4'%>
  </div>
</div>
<script>
  function editReplay(event) {
    var id = event.target.parentNode.id;
    var post_id = <%=@post.id%>;

    $.ajax({
      url: "/posts/" + post_id + "/replies/" + id + "/edit",
      method: "GET",
      dataType: "HTML",
      error: function (xhr) {
        //alert('請再點選一次');
      },
      success: function (data) {
        $("html, body").animate({ scrollTop: 99999 }, 600);
        $('#reply-content').html(data);
      }
    });
  }
  function collect(event){
    var post_id = <%=@post.id%>;
    $.ajax({
      url: "/posts/" + post_id + "/collect",
      method: "POST",
      dataType: "HTML",
      error: function (xhr) {
          console.log(xhr);
      },
      success: function (data) {
        $("#collet-btn").html("UnCollect");
        $("#collet-btn").addClass("btn btn-info");
        $("#collet-btn").attr("onclick","uncollect(event)");
        }
    });
  }
  function uncollect(event){
    var post_id = <%=@post.id%>;
    $.ajax({
      url: "/posts/" + post_id + "/uncollect",
      method: "POST",
      dataType: "HTML",
      error: function (xhr) {
        console.log(xhr);
      },
      success: function (data) {
        $("#collet-btn").html("Collect");
        $("#collet-btn").addClass("btn btn-secondary").removeClass("btn-info");
        $("#collet-btn").attr("onclick","collect(event)");
      }
    });
  }

  var strUrl = location.search;
  if (strUrl.indexOf("?") != -1) {
  $("html, body").animate({ scrollTop: 99999 }, 600);
       var reply =strUrl.split("=") ;
       //console.log(reply[1]);
       var post_id = <%=@post.id%>;
       $.ajax({
         url: "/posts/" + post_id + "/replies/" + reply[1] + "/edit",
         method: "GET",
         dataType: "HTML",
         error: function (xhr) {
           alert(xhr);
         },
         success: function (data) {
           $('#reply-content').html(data);
         }
       });
    }
</script>
