<div class="container">
  <div class="title">
    <h1><%=@post.title%></h1>
    <div class="button-link text-right">
      <button type="button" class="btn btn-secondary">Collect</button>
      <button type="button" class="btn btn-secondary">Comment</button>
    </div>
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <div class="user-info">
            <%= image_tag @post.user.avatar, class:"img-responsive img-profile",width:'150px'%>
            <%= @post.user.name%>
          </div>
          <button type="button" class="btn btn-secondary">Friend</button>
        </td>
        <td>
          <div class="post-pic">
            <%= image_tag @post.photo, class:"img-responsive img-profile",width:'400px' %>
          </div>
          <div class="post-content"><%=@post.article%></div>
          <% if current_user == @post.user %>
          <div class="post-button text-right">
            <%= link_to edit_post_path(@post) do %>
            <i class="fas fa-edit fa-2x"></i>
          <% end %>
          <%= link_to post_path(@post), method: :delete do%>
          <i class="fas fa-times-circle fa-2x"></i>
        <%end%>
          </div>
          <%end%>
      </td>
    </tr>
    <!--reply -->
    <% @replies.each do |reply|%>
      <tr>
        <td>
          <div class="reply-pic">
            <%= image_tag reply.user.avatar, class:"img-responsive img-profile",width:'150px' %>
          </div>
          <div class="user-info"><%=reply.user.name%></div>
          <button type="button" class="btn btn-secondary">Friend</button>
        </td>
        <td>
          <div class="reply-content"><%=reply.content%></div>
          <% if current_user == reply.user %>
          <div id="<%=reply.id%>" class="icon-view text-right">
            <%#= link_to edit_post_path(@post), remote: true,:onclick => 'editReplay()' do %>
              <i class="fas fa-edit fa-2x" onclick="editReplay(event)"></i>
              <%# end %>
                <%= link_to post_reply_path(@post,reply), method: :delete do%>
                <i class="fas fa-times-circle fa-2x"></i>
              <%end%>
            </div>
            <%end%>
          </td>
        </tr>
      <% end %>
      <!--reply end -->
      <tr>
        <td colspan="2">
          <div id="reply-content">
            <%= render partial: "replies/form", locals:{post:@post,reply:@reply} %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container pagination justify-content-center">
    <%= paginate @replies,theme: 'twitter-bootstrap-4'%>
  </div>
</div>
<script>
  function editReplay(event) {
    var id = event.target.parentNode.id;
    var post_id = <%=@post.id%>;

    $.ajax({
      url: "/posts/" + post_id + "/replies/" + id + "/edit",
      method: "GET",
      dataType: "HTML",
      error: function (xhr) {
        //alert('請再點選一次');
      },
      success: function (data) {
        $('#reply-content').html(data);
      }
    });
  }
</script>
