<tr>
  <td scope="row"><%= user.name%></td>
  <td><%= user.email %></td>
  <td>
    <%= form_for [:admin, user] do |f| %>
    <%= f.select :role, [['Admin', 'admin'], ['Normal', 'normal']], :prompt => 'Select' %>
    <%= f.submit class: "btn btn-secondary"%>
      <% end %>
  </td>
</tr>
